/* natural and earthy from https://visme.co/blog/website-color-schemes/ */
:root {
    --nneGreen: #8D8741;
    --nneBlue: #659DBD;
    --nneTan: #DAAD86;
    --nneBrown: #BC986A;
    --nneWhite: #FBEEC1;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
}

.searchBar {
    width: 400px;
    margin: 0px;
    padding-top: 100px;
}

.locationName {
    margin-top: 50px;
}

.container {
    height: 1000px;
    width: 1000px;
    padding-top: 50px;
    padding-bottom: 200px;
}

.card-body {
    width: 150px;
}

.card-text {
    font-size: 13px;
}

#temperature {
    font-weight: bold;
}

.card {
    background-color: var(--nneBlue);
}

.card-img-top {
    width: 100px;
    height: 100px;
    margin-left: 30px;
}

/* Small devices (landscape phones, less than 768px) imported from https://getbootstrap.com/docs/5.0/layout/breakpoints/#max-width */
@media (max-width: 767.98px) {
    .container {
        width: 480px;
    }
    .h-60 {
        height: 380px;
        width: 250px;
    }
    .card-img-top {
        height: 100px;
        width: 100px;
        margin-left: 70px;
    }
    .col {
        padding-bottom: 10px;
        margin-left: 100px;
    }
    .card {
        justify-content: center;
    }
    .card-body {
        width: 300px;
    }
    .card-text {
        font-size: 20px;
    }
    #cityName {
        margin-left: 70px;
    }
    #searchBarPosition {
        margin-left: 40px;
    }
}